<template src="../public/head.html" basePath="../../" article="./" index="../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>
<div class="support">
    <div class="support-banner"></div>
    <div class="support-else">
        <div class="support-shang">
            <div class="support-shang-dakuang">
                <div class="wp clearfix">
                    <div class="support-up">
                        <ul>
                            <li>产品荣誉</li>
                            <li>产品应用</li>
                            <li>问题支持</li>
                            <li>资料下载</li>
                        </ul>
                    </div>
                    <div class="support-down">
                        <ul>
                            <li>产品认证</li>
                            <li>专利证书</li>
                        </ul>
                        <ul>
                            <li>产品应用</li>
                            <li>产品应用</li>
                        </ul>
                        <ul>
                            <li>常见问题分析</li>
                            <li>常见问题分析</li>
                        </ul>
                        <ul>
                            <li>资料下载</li>
                            <li>资料下载</li>
                        </ul>
                    </div>
                    <div class="wenzibox">
                        <img src="../..//images/CPSupport-dazi.png" alt="">
                    </div>
                    <div class="xiaozi fr">
                        <img src="../../images/CPshouye.jpg" alt="">
                        <a href="">首页</a>
                        >
                        <a href="">产品支持</a>
                        >
                        <a href="">常见问题分析</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-zhong wp">
           <div class="support-zhong-box">
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="jianglibox">
                   <div class="jiangli">
                       <img src="../..//images/jiang1.jpg" alt="">
                   </div>
                   <div class="jiangliwenzi">
                       <span>国家科技进步奖</span>
                       <ul>
                           <li>
                               <span class="jiangli-yulan"></span>预览
                           </li>
                           <li>
                               <a href="">
                                   <span class="jiangli-xiazai"></span>下载
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
            <div class="bigyulan">
                <div class="bigyulan-left">
                    <div class="bigyulan-datu">
                        <div><img src="../../images/bigyulan-big.jpg" alt=""></div>
                    </div>
                    <div class="bigyulan-xiaotu">
                        <div class="L">
                            <span>◀</span>
                        </div>
                        <div class="bigyulan-slideshow">
                            <ul class="slideshow">
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                                <li class="slide"><img src="../../images/bigyulan-small.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="R">
                            <span>▶</span>
                        </div>
                    </div>
                </div>
                <div class="bigyulan-right">
                    <div class="bigyulan-bigfont">
                        <span>国家科技进步奖信用中国  重合同守信用企业</span>
                        <ul>
                            <li>
                                <span class="bigyulan-yulan"></span>预览
                            </li>
                            <li>
                                <a href="">
                                    <span class="bigyulan-xiazai"></span>下载
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="back wp"><span>返回</span></div>
            </div>
            <div class="support-ye">
                <div class="ye">
                    <ul>
                        <li class="shangxia"><a href="">上一页</a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">9</a></li>
                        <li class="shangxia"><a href="">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>




<template src="../public/foot.html" basePath="../../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>