<template src="../public/head.html" basePath="../../" article="./" index="../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>
<div class="support">
    <div class="support-banner"></div>
    <div class="support-else">
        <div class="support-shang">
            <div class="support-shang-dakuang">
                <div class="wp clearfix">
                    <div class="support-up">
                        <ul>
                            <li>产品荣誉</li>
                            <li>产品应用</li>
                            <li>问题支持</li>
                            <li>资料下载</li>
                        </ul>
                    </div>
                    <div class="wenzibox">
                        <img src="../..//images/CPSupport-dazi.png" alt="">
                    </div>
                    <div class="xiaozi fr">
                        <img src="../../images/CPshouye.jpg" alt="">
                        <a href="">首页</a>
                        >
                        <a href="">产品支持</a>
                        >
                        <a href="">常见问题分析</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-question wp">
            <div class="question-frame">
                <ul>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>浅谈机电维修常见问题</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>风风雨雨25年 微软人工智能能否续写辉煌？</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>机电设备中常见的故障分析及维修</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>浅谈机电维修常见问题</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>风风雨雨25年 微软人工智能能否续写辉煌？</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="question-box">
                            <div class="question clearfix">
                                <span><img src="../../images/question.png" alt=""></span>
                                <span>机电设备中常见的故障分析及维修</span>
                                <span class="question-anniu fr"></span>
                            </div>
                            <div class="answer">
                                <span><img src="../../images/answer.png" alt=""></span>
                                <span>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工</span>
                                <a href="" class="kefu">未解决？联系在线客服<img src="../../images/kefu.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="support-ye">
            <div class="ye">
                <ul>
                    <li class="shangxia"><a href="">上一页</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">9</a></li>
                    <li class="shangxia"><a href="">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<template src="../public/foot.html" basePath="../../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>