<template src="../public/head.html" basePath="../../" article="./" index="../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>
<div class="news">
    <div class="news-banner">
        <div class="dianzuiL"></div>
        <div class="dianzuiR"></div>
    </div>
    <div class="support-else">
        <div class="support-shang">
            <div class="support-shang-dakuang">
                <div class="wp clearfix">
                    <div class="news-up">
                        <ul>
                            <li>公司动态</li>
                            <li>行业动态</li>
                            <li>焊接技巧</li>
                        </ul>
                    </div>
                    <div class="support-down">
                        <ul>
                            <li>产品认证</li>
                            <li>专利证书</li>
                        </ul>
                        <ul>
                            <li>产品应用</li>
                            <li>产品应用</li>
                        </ul>
                        <ul>
                            <li>常见问题分析</li>
                            <li>常见问题分析</li>
                        </ul>
                        <ul>
                            <li>资料下载</li>
                            <li>资料下载</li>
                        </ul>
                    </div>
                    <div class="wenzibox">
                        <img src="../..//images/news-wenzibox.png" alt="">
                    </div>
                    <div class="xiaozi fr">
                        <img src="../../images/CPshouye.jpg" alt="">
                        <a href="">首页</a>
                        >
                        <a href="">新闻资讯</a>
                        >
                        <a href="">公司动态</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-box wp">
            <ul>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p1.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p2.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p1.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p2.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p1.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news-detalied.html">
                        <div class="news-content">
                            <div>
                                <h3>长胜机电再次获得成都市地方名优产品证书</h3>
                                <h4>那大荣铁厂创建的文档，以及各种措施，以确保安全性和执行的质量，一些规则来操作它们正确地已经建立...</h4>
                                <p>2016-08-09</p>
                            </div>
                            <img src="../../images/news-p2.jpg" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="support-ye">
            <div class="ye">
                <ul>
                    <li class="shangxia"><a href="">上一页</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">9</a></li>
                    <li class="shangxia"><a href="">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<template src="../public/foot.html" basePath="../../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>