<template src="../public/head.html" basePath="../../" article="./" index="../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>
<div class="news">
    <div class="news-banner">
        <div class="dianzuiL"></div>
        <div class="dianzuiR"></div>
    </div>
    <div class="support-else">
        <div class="support-shang">
            <div class="support-shang-dakuang">
                <div class="wp clearfix">
                    <div class="news-up">
                        <ul>
                            <li>公司动态</li>
                            <li>行业动态</li>
                            <li>焊接技巧</li>
                        </ul>
                    </div>
                    <div class="wenzibox">
                        <img src="../..//images/news-wenzibox.png" alt="">
                    </div>
                    <div class="news-detalied-wenzibox fl">
                        <img src="../../images/CPshouye.jpg" alt="">
                        <a href="">首页</a>
                        >
                        <a href="">新闻资讯</a>
                        >
                        <a href="">公司动态</a>
                        >
                        <a href="">正文</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news-detalied">
        <div class="allbox">
            <div class="allbox-top">
                <h2>长胜机电 值得信赖--长胜机电闪耀第二十一届埃森展</h2>
                <p>2016-08-09</p>
            </div>
            <div class="allbox-content">
                <p>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工艺。现场演示的产品有：Pulse MIG-500i智能化脉冲多功能焊机、MAG-350L超低飞溅薄板焊机、信息化焊接群控管理系统、机器人专用弧焊电源WSM-400R、MIG-500RP、MAG-350RL、焊接机器人系统及专机配套交流方波双丝埋弧焊等。</p>
                <img src="../../images/allbox-contene-p1.jpg" alt="">
                <h1>展会期间展示了奥太全系列产品</h1>
                <p>展会期间展示了奥太全系列产品：逆变焊机、机器人配套电源、管道焊机、机器人弧焊应用及自动焊设备等，并突出地演示了行业先进的焊接工艺。现场演示的产品有：Pulse MIG-500i智能化脉冲多功能焊机、MAG-350L超低飞溅薄板焊机、信息化焊接群控管理系统、机器人专用弧焊电源WSM-400R、MIG-500RP、MAG-350RL、焊接机器人系统及专机配套交流方波双丝埋弧焊等。</p>
                <ul>分享到:
                    <li><a href=""><img src="../../images/qzone.jpg" alt="" title="QQ空间"></a></li>
                    <li><a href=""><img src="../../images/cweibo.jpg" alt="" title="新浪微博"></a></li>
                    <li><a href=""><img src="../../images/qweibo.jpg" alt="" title="QQ微博"></a></li>
                    <li><a href=""><img src="../../images/cweixin.jpg" alt="" title="微信"></a></li>
                    <li><a href=""><img src="../../images/jiahao.jpg" alt=""></a></li>
                    <li class="shuzikuang">0</li>
                </ul>
                <div>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="allbox-else">
                <a href=""><span> <上一篇 </span></a>
                <p class="no"></p>
                <a href=""><span> 下一篇> </span></a>
            </div>
        </div>
    </div>
</div>
<template src="../public/foot.html" basePath="../../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>