<template src="../public/head.html" basePath="../../" article="./" index="../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>
<!--引用new模板-->
<div class="point">
    <div class="point-banner">
        <div class="dianzuiL"></div>
        <div class="dianzuiR"></div>
    </div>
    <div class="support-else">
        <div class="support-shang">
            <div class="support-shang-dakuang">
                <div class="wp clearfix">
                    <div class="news-up">
                        <ul>
                            <li>联系我们</li>
                            <li>经销网络</li>
                        </ul>
                    </div>
                    <div class="wenzibox">
                        <img src="../..//images/point-wenzibox.png" alt="">
                    </div>
                    <div class="xiaozi fr">
                        <img src="../../images/CPshouye.jpg" alt="">
                        <a href="">首页</a>
                        >
                        <a href="">联系我们</a>
                        >
                        <a href="">经销网络</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="point-box wp">
            <div class="point-box-shang">
                <ul>
                    <li>全部</li>
                    <li>广东省</li>
                    <li>湖南省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广东省</li>
                    <li>湖南省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                    <li>广西省</li>
                </ul>
            </div>
            <div class="point-box-xia">
                <ul>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="point-smallbox">
                        <a href="">
                            <div class="point-smallbox-big clearfix">
                                <img src="../../images/point-p1.jpg" alt="">
                                <div class="point-smallbox-mini fr">
                                    <span><img src="../../images/point-point.png" alt=""></span>
                                    <span class="fendian">广州白云长胜分店</span>
                                    <p>地址：广州市白云区华景路暨南科技大厦00号</p>
                                    <p>电话：020-506065220</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="support-ye">
            <div class="ye">
                <ul>
                    <li class="shangxia"><a href="">上一页</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">9</a></li>
                    <li class="shangxia"><a href="">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<template src="../public/foot.html" basePath="../../">
    {
    "useHeader": true,
    "toBool": false,
    "info": "这里是说明，我去掉了path",
    "title": "首页"
    }
</template>