<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="foot">
    <div class="wp clearfix">
        <div class="jianjie fl">
            <div>
                <h1>产品</h1>
                <ul>
                    <li><a href="">氩弧焊</a></li>
                    <li><a href="">气保焊</a></li>
                    <li><a href="">弧焊机</a></li>
                    <li><a href="">切割机</a></li>
                    <li><a href="">更多+</a></li>
                </ul>
            </div>
            <div>
                <h1>产品支持</h1>
                <ul>
                    <li><a href="">产品资源</a></li>
                    <li><a href="">产品应用</a></li>
                    <li><a href="">问题支持</a></li>
                    <li><a href="">资料下载</a></li>
                </ul>
            </div>
            <div>
                <h1>新闻资讯</h1>
                <ul>
                    <li><a href="">公司动态</a></li>
                    <li><a href="">行业动态</a></li>
                    <li><a href="">焊接技巧</a></li>
                </ul>

            </div>
            <div>
                <h1>关于我们</h1>
                <ul>
                    <li><a href="">公司简介</a></li>
                    <li><a href="">发展历程</a></li>
                    <li><a href="">资质荣誉</a></li>
                </ul>
            </div>
            <div>
                <h1>联系我们</h1>
                <ul>
                    <li><a href="">联系方式</a></li>
                    <li><a href="">营销网点</a></li>
                </ul>
            </div>
        </div>
        <div class="lianxi fr">
            <div class="wenzi">
                联系我们
            </div>
            <div>
                <img src="{{basePath}}/images/phone.jpg" alt="">
            </div>
            <div class="image">
                <span><a href=""><img src="{{basePath}}/images/weixin.png" alt=""></a></span>
                <span><a href=""><img src="{{basePath}}/images/qq.jpg" alt=""></a></span>
                <span><a href=""><img src="{{basePath}}/images/weibo.jpg" alt=""></a></span>
            </div>
        </div>
        <div class="else fl wp">
            长胜机电 ©2016 粤ICP备14062985号-1   Design by
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{basePath}}script/script.js"></script>
</html>